.containerFavouritesList{
    width: 22%;
    margin-left: 78%;
    top: 110px;
    height: 100%;
    position: absolute;
    background-color: rgb(235, 235, 235);
    overflow: auto;

}

#headerFavouritesList {
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconFavouritesList {
    margin-right: 6%;
}

#containerComics {
    display: flex;
    justify-content: center;
}

.imgComicsFavourites {
    width: 60%;
    min-width: 190px;
    height: 363px;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid black;
}

.imgComicsFavourites:hover {
    border: 5px solid black;
}


.containerButtonDelete {
    position: absolute;
    width: 68%;
    min-width: 222px;
    text-align: right;
    margin-top: -4.6%;
    cursor: pointer;
}