#containerPaginator {
    width: 77.7%;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    color: #d7d5d6;
    font-size: 100%;
	border: none;
    background: white;
    height: 48px;
    width: 48px;
    margin-right: 12px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgb(185, 185, 185);
}

.button:hover {
    background: rgba(121, 109, 109, 0);
    height: 55px;
    width: 55px;
    color: black;
    font-size: 120%;
    font-weight: bold;
    border: 1px solid rgba(121, 109, 109, 0.5);
}
